-------------------------------------------------------------------------------
                                NOTICE TO USERS

- You have been granted SUDO access to a {{ org }} (COMPANY) information
  system (IS) that is provided for COMPANY-authorized use only. Use of this IS
  constitutes consent to security monitoring and testing. All activity is
  logged with your user name and IP address.

-------------------------------------------------------------------------------
